# Git ignores these Compiled files
*.o
*.out
hello
employee
logwriter
consumer
producer
simple_pipe
bidirectional
phase1
phase2
phase3
phase4

# Git ignores these Log files
*.log

# Editor backups
*-
*.swp

